body {
    background-color: rgba(33,37,41,255)
    

}

.navbar-nav .nav-link:hover {
    color: #ff4500 !important;
}

.container_index {

    max-width: 1700px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: white;
}
.container_index_slider {

    max-width: 1700px;
    margin: 50px auto;
    padding: px;
    margin-bottom: 30px;
    border-radius: 10px;
    color: white;
}
.container_keszitok {

    max-width: 1450px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: white;

}



.container {

    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.container_album {

    max-width: 1100px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.card {
    border: none;
    background-color: transparent;
    color: white;
}


footer {
    background-color: #343a40;
    color: #ffffff;
  }

  .footer-top {
    padding-bottom: 0px;
  }

  .footer-links a {
    color: #ffffff;
    text-decoration: none;
  }

  .footer-links a:hover {
    color: #ff4500;
  }

  .footer-bottom {
    background-color: #101111;
    padding-top: 15px;
    margin-bottom: 0px;
  }

  .footer-bottom p {
    margin-bottom: 0px;
  }

  
.container_footer {
    padding-left: 100px;
    padding-right: 100px;
    max-width: 2000px;
    color: white;
    text-align: center;
    background-color: #101111;
}

.on{
  background-color: rgba(33,37,41,255);
  color:white;
  border-radius: 10px;
}